html {
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5c5c5c;
}

.pagination {
  align-items: center;
  justify-content: center;
}





/* Dark mood css Start  */

/* theme-mode */
.theme-flip {
  width: 36px;
  height: 36px;
  perspective: 900px;
  cursor: pointer;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(.4, .2, .2, 1);
  will-change: transform;
}

.theme-flip.active .flip-inner {
  transform: rotateY(180deg);
}

.flip-face {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  backface-visibility: hidden;
  -moz-backface-visibility: hidden;

  font-size: 18px;
}

/* Front */
.flip-front {
  color: #111827;
  transform: rotateY(0deg) translateZ(1px);
}

/* Back */
.flip-back {
  color: #e5e7eb;
  transform: rotateY(180deg) translateZ(1px);
}


/* Dark mood css end  */


/* Footer  */
/* .custom-footer {
  bottom: 0;
  padding: 20px calc(24px / 2);
  position: absolute;
  left: 0;
  color: #6c757d;
  right: 0;
  height: 60px;
  -webkit-box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
} */



/* Custom Mobile Footer Bar Start */

@media (max-width: 765px) {

  #footer-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: #272d3e;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    height: 75px;
  }
}

/* Custom Mobile Footer Bar Start */


/* Animation Card design  */

.scene {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border: none;
  perspective: 100px;
}

.scene-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.scene-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  backface-visibility: hidden;
}

.card__face--front {
  background: linear-gradient(135deg, #2b72af, #237f84);
  color: #ffffff;
}

/* For dark background  */

/* .card__face--front {
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(12px);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
} */

.card__face--back {
  transform: rotateY(180deg);
  background: linear-gradient(135deg, #3d9f5d, #22937e);
  color: #d1fef2;
}





/* Quiz page design Start  */

/* Override draggable defaults... */
.answer,
.option {
  min-height: 60px;
  vertical-align: middle;
}

.drag-item {
  cursor: grab;
}

/* Quiz page design end  */



/* 

  story page paragraph word design 

*/


.highlight-word {
  color: #0d6efd;
  /* Bootstrap primary */
  font-weight: 600;
  cursor: pointer;
}

.highlight-word:hover {
  text-decoration: underline;
}



/* 

smoth right slider  
offcanvas use for right silide menu

*/

/* Smooth Offcanvas Animation */
.user-offcanvas {
  transition: transform 0.35s ease-in-out !important;
  will-change: transform;
}

/* Optional: modern shadow */
.user-offcanvas {
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.15);
}

/* Menu hover effect */
.user-menu .list-group-item {
  border: none;
  padding: 14px 20px;
  transition: background-color 0.2s ease, padding-left 0.2s ease;
}

.user-menu .list-group-item:hover {
  background-color: #f8f9fa;
  padding-left: 26px;
  color: #111827;
}

/* Avatar */
.header-profile-user {
  object-fit: cover;
}




/* 
Vucabulary card and background design 
that card can download user like flash card

*/


/* in vuvbulary glassy effect color  */

.glass-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

/* Hover glow */
.glass-card:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}


/* End flase vucabulary card  */